owner_name="Rana Universe"


APP__HOST="0.0.0.0"
APP__PORT=9999
APP__DEBUG=TRUE
APP__SECRET_KEY="RANAUNIVERSENOOB"

MAIL__HOST=smtp.gmail.com
MAIL__PORT=587
MAIL__USERNAME=rana@gmail.com
MAIL__PASSWORD=XYZ
MAIL__FROM_EMAIL=rana@gmail.com