owner_name="Rana Universe"


APP__HOST="0.0.0.0"
APP__PORT=9999
APP__DEBUG=TRUE
APP__SECRET_KEY="RANAUNIVERSENOOB"


Mail__PROVIDER=local

MAIL__HOST=localhost
MAIL__PORT=465
MAIL__USERNAME=rana@gmail.com
MAIL__PASSWORD=MY_PASSWORD_IS_XYZ
MAIL__FROM_EMAIL_DEFAULT=rana@gmail.com

MAIL__SECURITY=starttls
