owner_name="Rana Universe"


APP__HOST="0.0.0.0"
APP__PORT=9999
APP__DEBUG=TRUE
APP__SECRET_KEY="RANAUNIVERSENOOB"


Mail__PROVIDER=local

MAIL__HOST=localhost
MAIL__PORT=465
MAIL__USERNAME=rana@gmail.com
MAIL__PASSWORD=MY_PASSWORD_IS_XYZ
MAIL__FROM_EMAIL_DEFAULT=rana@gmail.com
MAIL__SECURITY=ssl


# Below things doesnot care about the hosting it will only receive mails

MAIL__REPLY_TO_DEFAULT=RanaUniverse321+Default@gmail.com
MAIL__REPLY_TO_BILLING=RanaUniverse321+Billing@gmail.com
MAIL__REPLY_TO_OTP=RanaUniverse321+OTP@gmail.com
MAIL__REPLY_TO_SUPPORT=RanaUniverse321+Support@gmail.com
MAIL__REPLY_TO_SALES=RanaUniverse321+Sales@gmail.com
MAIL__REPLY_TO_SECURITY=RanaUniverse321+Security@gmail.com
MAIL__REPLY_TO_ACCOUNT=RanaUniverse321+Account@gmail.com
MAIL__REPLY_TO_JOBS=RanaUniverse321+Jobs@gmail.com
MAIL__REPLY_TO_LOGIN=RanaUniverse321+Login@gmail.com
MAIL__REPLY_TO_WELCOME=RanaUniverse321+Welcome@gmail.com

