<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Send Email To Customers
        {% endblock %}
    </title>
    {% include 'partials/_assets_css.html' %}
</head>

<body>
    <header>
        {%- include 'partials/_navbar.html' -%}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/_footer.html' %}
    {% include 'partials/_assets_js.html' %}
</body>

</html>